.works_page {
  width: 100%;
}

.works_hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.works_hero_infos h4 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.works_hero_infos p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  width: 80%;
}

.works_wrapper {
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-transform: uppercase;
}

.works_wrapper img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.works_wrapper .sep {
  height: 100%;
  width: 1px;

  margin: 0px;
  padding: 0px;
  align-self: center;
  justify-self: center;
}

.artwork_infos_1 {
  margin-top: 5px;
}

.artwork_infos_1 {
  margin-top: 5px;
}

.artwork_infos_artist {
  font-weight: 200;
  font-size: 14px;
}

.artwork_infos_title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

.artwork_infos_2 {
  display: flex;
  justify-content: space-between;
}

.artwork_infos_2 p {
  font-size: 14px;
  font-weight: 200;
}

@media screen and (max-width: 859px) {
  .works_wrapper {
    gap: 30px;
  }
  .works_hero_infos p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .works_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .works_hero_infos p {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .works_wrapper {
    gap: 20px;
  }
}
