.artists_page {
  width: 100%;
}

.artists_hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.artists_hero_infos h4 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.artists_hero_infos p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  width: 40%;
}

.artists_wrapper {
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.artists_wrapper img {
  width: 282px;
  aspect-ratio: 1/1;
}

.artists_wrapper .sep {
  height: 100%;
  width: 1px;

  margin: 0px;
  padding: 0px;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 859px) {
  .artists_wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .artists_hero_infos p {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .artists_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .artists_hero_infos p {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .artists_wrapper {
    gap: 20px;
  }
}
