.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.links_container {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.hamburger_menu_container {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.links a {
  color: var(--black);
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.lang_container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.lang_container button {
  background: none;
  border: none;
  font-size: 0.7rem;
  text-transform: uppercase;
  display: inline-block;
}

.lang_container button:hover {
  cursor: pointer;
}

.lang_button_active {
  font-weight: 500;
}

.lang_button_inactive {
  font-weight: 300;
}

@media screen and (max-width: 859px) {
  .links_container {
    display: none;
  }
  .hamburger_menu_container {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }
}
