:root {
  --white: #fff;
  --black: #000;
  --black-20: rgba(32, 34, 23, 0.2);
  --black-50: rgba(32, 34, 23, 0.5);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: rgba(32, 34, 23, 0.2);
}

.container {
  max-width: 1440px;
  /* min-height: 200vh; */
  margin: 0 auto;
  padding: 15px;
  position: relative;
  padding-top: 100px;
}

.section {
  width: 100%;
  margin-top: 120px;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_header.engagement {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section_header.engagement h4 {
  width: 100%;
}

.section h4 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  width: 450px;
}

.section_elements_wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* SECTION FOR FOUR ELEMENTS */
.section_elements_wrapper.four_elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.section_elements_wrapper.four_elements .small_card_image_container {
  aspect-ratio: 1/1;
}

/* SECTION FOR TWO ELEMENTS */
.section_elements_wrapper.two_elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.section_elements_wrapper.two_elements .small_card_image_container {
  height: 580px;
  aspect-ratio: 1/1;
}

/* SECTION FOR ROUNDED FOUR ELEMENTS */
.section_elements_wrapper.rounded_four_elements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.section_elements_wrapper.rounded_four_elements .small_card_image_container {
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.section_elements_wrapper.rounded_four_elements .small_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_elements_wrapper.rounded_four_elements .small_card_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_elements_wrapper.rounded_four_elements .small_card_footer svg {
  display: none;
}

.section_elements_wrapper.rounded_four_elements .separator {
  display: none;
}

.section_elements_wrapper.rounded_four_elements .small_card_footer_name {
  text-align: center;
}

/* SECTION FOR THREE ACTU ELEMENTS */
.section_elements_wrapper.four_actu_elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.section_elements_wrapper.four_actu_elements img {
  width: 110px;
  aspect-ratio: 1/1;
  height: auto;
}

/* SECTION FOR ENGAGEMENT THREE ELEMENTS*/
.section_elements_wrapper.engagement_three_elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* SECTION FOR  THREE ELEMENTS */
.section_elements_wrapper.three_elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.section_elements_wrapper.three_elements .small_card_image_container {
  height: 580px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 859px) {
  .section h4 {
    width: auto;
  }
  .section_elements_wrapper.three_elements {
    gap: 30px;
  }
  .section_elements_wrapper.four_elements {
    grid-template-columns: repeat(2, 1fr);
  }
  .section_elements_wrapper.rounded_four_elements {
    grid-template-columns: repeat(2, 1fr);
  }
  .section_elements_wrapper.four_actu_elements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section_elements_wrapper.engagement_three_elements {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .section_elements_wrapper.rounded_four_elements .small_card a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_elements_wrapper.rounded_four_elements .small_card_image_container {
    width: 260px;
    aspect-ratio: 1/1;
    margin-bottom: 3px;
  }
  .section_elements_wrapper.three_elements .small_card_image_container {
    height: 380px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    margin-top: 100px;
  }
  .section_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .section h4 {
    font-size: 18px;
    width: auto;
  }
  .section_elements_wrapper.three_elements {
    grid-template-columns: repeat(1, 1fr);
  }
  .section_elements_wrapper.four_elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .section_elements_wrapper.two_elements {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .section_elements_wrapper.two_elements .small_card_image_container {
    height: 380px;
    aspect-ratio: 1/1;
  }
  .section_elements_wrapper.four_elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .section_elements_wrapper.rounded_four_elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .section_elements_wrapper.rounded_four_elements .small_card_image_container {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .section_elements_wrapper.three_elements .small_card_image_container {
    height: 350px;
  }
  .section_elements_wrapper.four_actu_elements {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 311px) {
  .section_elements_wrapper.four_elements {
    gap: 15px;
  }
}
