.small_card {
  width: 100%;
  text-transform: uppercase;
}

.small_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.small_card_footer {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small_card_footer_headline {
  font-weight: 200;
  font-size: 14px;
}

.small_card_footer svg {
  width: 14px;
  height: 14px;
}

.small_card_footer_name {
  font-size: 18px;
  margin-bottom: 2px;
}

/* ACTU CARD STYLES */
.actu_card {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  text-transform: uppercase;
}

.actu_card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.actu_card_infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actu_card_info_subline {
  font-size: 14;
  font-weight: 200;
}

.actu_card_info_title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

.actu_card_link_wrapper {
  display: flex;
  flex-direction: column;
}

.actu_card_link_text {
  display: flex;
  justify-content: space-between;
}

.actu_card_link_text p {
  font-size: 14;
  font-weight: 200;
}

.actu_card_link_text svg {
  width: 14px;
  height: 14px;
}

/* ARTIST CARD */
.artist_wrapper {
  width: 100%;
  text-transform: uppercase;
  position: relative;
}

.artist_wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.artist_wrapper button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
  .small_card_footer_name {
    font-size: 16px;
  }
  .artist_wrapper button {
    font-size: 12px;
    padding: 15px;
  }
}
