.portable_text_span {
  display: inline-block;
  font-weight: 200;
  line-height: 1.6;
}

.portable_text_strong {
  font-weight: 300;
}

.portable_text_bullet_list,
.portable_text_numbered_list {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  line-height: 1.8;
}

.portable_text_h4 {
  display: block;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 16px;
  text-transform: uppercase;
}

.portable_text_h4 strong {
  font-weight: 600;
}
