.home_page {
  width: 100%;
}

.home_hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home_hero_infos p {
  font-size: 22px;
  font-weight: 200;
  text-transform: uppercase;
}

.home_hero_infos h1 {
  font-size: 62px;
  line-height: 4.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.home_hero_slider {
  width: 100%;
  height: 65vh;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 1s ease-in-out;
}

.home_hero_slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

.home_hero_slider_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  background: rgb(30, 30, 30);
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 0.8) 0%,
    rgba(217, 217, 217, 0) 50%,
    rgba(217, 217, 217, 0) 100%
  );
}

.hero_slider_footer {
  z-index: 3;
  padding: 2rem;
  color: white;
  text-transform: uppercase;
}

.hero_slider_footer h3 {
  font-size: 26px;
  font-weight: 500;
}

.hero_slider_expo_date {
  font-weight: 300;
}

.hero_slider_footer_infos {
  display: flex;
  justify-content: space-between;
}

.hero_slider_footer_arrows {
  display: flex;
  gap: 1rem;
}

.hero_slider_footer_arrows svg {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.hero_slider_footer_arrows svg:hover {
  transform: scale(1.2);
}

.see_more_actu {
  color: var(--white);
  background-color: var(--black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
  text-transform: uppercase;
  font-size: 14px;
  gap: 5px;
}

.see_more_actu svg {
  width: 14px;
  height: 14px;
}

@media screen and (max-width: 712px) {
  .home_hero_infos h1 {
    font-size: 52px;
    line-height: 4rem;
  }
  .home_hero_slider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }

  .home_hero_slider_overlay {
    background: linear-gradient(
      0deg,
      rgba(30, 30, 30, 0.8) 0%,
      rgba(30, 30, 30, 0.8) 100%
    );
  }

  .home_hero_slider .background_image {
    filter: blur(5px);
  }

  .home_hero_slider .front_image {
    aspect-ratio: 16/9;
    height: auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30px);
    z-index: 4;
  }
}

@media screen and (max-width: 480px) {
  .home_hero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .home_hero_infos p {
    font-size: 18px;
  }
  .home_hero_infos h1 {
    font-size: 30px;
    line-height: 2.6rem;
  }
  .hero_slider_footer {
    padding: 1rem;
  }
  .home_hero_slider {
    height: 60vh;
  }
  .home_hero_slider .front_image {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hero_slider_footer h3 {
    font-size: 14px;
  }
  .hero_slider_expo_date {
    font-size: 14px;
  }
  .hero_slider_footer_infos {
    flex-direction: column;
    gap: 10px;
  }
  .hero_slider_footer_arrows svg {
    width: 20px;
    height: 20px;
  }
}
