.footer {
  margin-top: 170px;
}

.footer_elements_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 0px 30px 0px;
}

.footer_column.infos {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.footer_row.links {
  display: flex;
  gap: 200px;
}

.footer_row_link_wrapper {
  display: flex;
  gap: 200px;
}

.footer_row_link_container {
  display: flex;
  flex-direction: column;
}

.footer_row_link_container a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 5px;
}

.footer_headline {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer_row.copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
}

.footer_row.copyright div {
  display: flex;
  gap: 20px;
}

.footer_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer_newsletter_wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.footer_newsletter_wrapper form input {
  padding: 10px 15px;
  border: none;
  background-color: #f1f1f1;
}

.footer_newsletter_wrapper form input::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.7;
}

.footer_newsletter_wrapper form button {
  padding: 10px 15px;
  border: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer_newsletter_wrapper form button svg {
  width: 14px;
  height: 14px;
}

.footer_newsletter_wrapper form input:focus {
  outline: 1px solid var(--black);
}

@media screen and (max-width: 859px) {
  .footer_elements_wrapper {
    padding: 4rem 0.8rem 2rem 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .footer_row_link_wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .footer_column.infos {
    width: fit-content;
  }
  .footer_row.links {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    margin-top: 100px;
  }
  .footer_row_link_wrapper {
    width: 100%;
  }
  .footer_newsletter_wrapper form input {
    padding: 20px;
    border-radius: 0px;
  }
  .footer_newsletter_wrapper {
    width: 100%;
  }
  .footer_newsletter_wrapper form button {
    padding: 15px;
  }
  .footer_newsletter_wrapper form {
    width: 100%;
  }
  .footer_row.copyright p {
    font-size: 12px;
    margin-bottom: 30px;
  }

  .footer_row.copyright div a {
    font-size: 12px;
  }
}
