.section.exposition_page {
}

.exposition_page_hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.exposition_page_hero img {
  width: 100%;
  object-fit: cover;
}

.section.exposition_right {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exposition_date {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.exposition_date span {
  font-weight: 600;
}

.exposition_description {
  font-weight: 200;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exposition_artists_wrapper {
  margin-top: 20px;
}

.exposition_artists_wrapper > div {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.exposition_artist_headline {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.exposition_images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.exposition_images.views {
  grid-template-columns: repeat(2, 1fr);
}

.exposition_images img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.exposition_images.views img {
  aspect-ratio: 16/9;
}

.artwork_infos_1 {
  margin-top: 5px;
}

.artwork_infos_1 {
  margin-top: 5px;
}

.artwork_infos_artist {
  font-weight: 200;
  font-size: 14px;
}

.artwork_infos_title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

.artwork_infos_2 {
  display: flex;
  justify-content: space-between;
}

.artwork_infos_2 p {
  font-size: 14px;
  font-weight: 200;
}

.exposition_artists {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.expo_artist_name {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: underline;
}

/* PRESSE CONTAINER */
.section_elements_wrapper.presse {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.presse_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  text-align: center;
}

.image_container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #d0d0d052;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container img {
  width: 80%;
  height: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.presse_container .from {
  font-weight: 200;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

.presse_container .title {
  font-weight: 300;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis at the end */
}

@media screen and (max-width: 859px) {
  .exposition_page_hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .exposition_page_hero img {
    width: 100%;
    height: 500px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .exposition_images {
    gap: 30px;
  }
}

@media screen and (max-width: 859px) {
  .exposition_images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .exposition_artists {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .exposition_images.views {
    grid-template-columns: repeat(1, 1fr);
  }
  .exposition_artist_headline {
    font-size: 16px;
  }
  .expo_artist_name {
    font-size: 14px;
  }
  .section_elements_wrapper.presse {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
